.logo-image {
    height: 3rem;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-image {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}